@font-face {
   font-family: "DMSans-Regular", sans-serif;
   src: local("DMSans-Regular"), url("DMSans-Regular.woff2") format("woff2"), url("DMSans-Regular.woff") format("woff");
   font-style: normal;
   font-weight: 400;
   font-display: swap;
}

@font-face {
   font-family: "DMSans-Medium", sans-serif;
   src: local("DMSans-Medium"), url("DMSans-Medium.woff2") format("woff2"), url("DMSans-Medium.woff") format("woff");
   font-style: normal;
   font-weight: 500;
   font-display: swap;
}

@font-face {
   font-family: "DMSans-Bold", sans-serif;
   src: local("DMSans-Bold"), url("DMSans-Bold.woff2") format("woff2"), url("DMSans-Bold.woff") format("woff");
   font-style: normal;
   font-weight: 700;
   font-display: swap;
}

@font-face {
   font-family: "Poppins-Bold", sans-serif;
   src: local("Poppins-Bold"), url("Poppins-Bold.woff2") format("woff2"), url("Poppins-Bold.woff") format("woff");
   font-style: normal;
   font-weight: 700;
   font-display: swap;
}

@font-face {
   font-family: "Rubic-Regular", sans-serif;
   src: local("Rubic-Regular"), url("Rubic-Regular.woff2") format("woff2"), url("Rubic-Regular.woff") format("woff");
   font-style: normal;
   font-weight: 400;
   font-display: swap;
}

@font-face {
   font-family: "Rubic-Medium", sans-serif;
   src: local("Rubic-Medium"), url("Rubic-Medium.woff2") format("woff2"), url("Rubic-Medium.woff") format("woff");
   font-style: normal;
   font-weight: 500;
   font-display: swap;
}

@font-face {
   font-family: "Rubic-Bold", sans-serif;
   src: local("Rubic-Bold"), url("Rubic-Bold.woff2") format("woff2"), url("Rubic-Bold.woff") format("woff");
   font-style: normal;
   font-weight: 700;
   font-display: swap;
}
