html,
body {
   height: 100%;
}

body {
   @extend %DMSans-400;
   font-size: 16px;
   line-height: 30px;
   font-weight: 400;
   color: $default;
}

.wrapper {
   display: flex;
   flex-direction: column;
   height: 100%;
}

.header {
   flex: 0 0 auto;
}
.main {
   flex: 1 0 auto;
}

.footer {
   flex: 0 0 auto;
}
.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}

.container-item {
   max-width: 1500px;
   margin: 0 auto;
}

.title{
   text-align: center;
   @extend  %DMSans-700;
   font-size: 36px;
   line-height: 1.2;
   color: $title;
   padding-bottom: 30px;
}

.product__filter-btn{
   border: none;
   background-color: transparent;
   cursor: pointer;
   @extend  %DMSans-700;
   font-size: 16px;
   line-height: 1.2;
   color: #8b8b8b;
   &:hover{
      color: $title;
   }
}