@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
   padding: 30px 30px 30px;
   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}

.logo {
   display: flex;
   &__image {
      padding-right: 10px;
   }

   &__text {
      @extend %Rubik-500;
      font-size: 36px;
      line-height: 58px;
      color: $default;
   }
}

.menu {
   &__list {
      display: flex;
      align-items: center;
   }

   &__list-item + .menu__list-item {
      margin-left: 15px;
   }

   &__list-link {
      @extend %Rubik-500;
      font-size: 15px;
      line-height: 12px;
      padding-bottom: 2px;
      color: $default;
      transition: all 0.1s;
      &:hover {
         border-bottom: 2px solid $accent;
         @extend %DMSans-700;
      }
   }

   &__list-link.menu__list-link--active {
      @extend %DMSans-700;
      border-bottom: 2px solid $accent;
   }
}
.user-nav {
   display: flex;
   &__link {
      position: relative;
   }
   &__link + .user-nav__link {
      margin-left: 15px;
   }

   &__link-num {
      position: absolute;
      background-color: #fff;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      @extend %DMSans-400;
      font-size: 10px;
      line-height: 20px;
      color: #243f4d;
      text-align: center;
   }
   &__link-num--heart {
      top: 12px;
      left: 64px;
      z-index: 2;
   }
   &__link-num--cart {
      top: 13px;
      right: 56px;
      z-index: 2;
   }
   &__link--search {
      background-image: url("../images/icons/ellipse-search.svg");
      width: 52px;
      height: 52px;
      position: relative;
   }
   &__link--search::after {
      content: "";
      width: 17px;
      height: 17px;
      background-image: url("../images/icons/search.svg");
      top: 16px;
      left: 17px;
      position: absolute;
   }
   &__link--heart {
      background-image: url("../images/icons/rectangle.svg");
      width: 180px;
      height: 52px;
      position: relative;
   }
   &__link--heart::after {
      content: "";
      width: 20px;
      height: 20px;
      background-image: url("../images/icons/heart.svg");
      top: 19px;
      left: 50px;
      position: absolute;
   }
   &__link--heart::before {
      content: "";
      width: 22px;
      height: 21px;
      background-image: url("../images/icons/cart.svg");
      top: 19px;
      right: 50px;
      position: absolute;
   }
   &__link--icon {
      background-image: url("../images/icons/ellipse.svg");
      width: 52px;
      height: 52px;
      position: relative;
   }
   &__link--icon::after {
      content: "";
      width: 23px;
      height: 24px;
      background-image: url("../images/icons/el.svg");
      top: 13px;
      left: 15px;
      position: absolute;
   }
}

.info{
   &__inner{
      padding: 45px 0;
      background-color: rgba(252, 215, 182, 0.2);
      display: flex;
      justify-content: space-around;

   }
   &__item{
      display: flex;
   }
   &__item-desc{
      margin-left: 23px;
   }
   &__item-title{
      @extend %DMSans-700;
      font-size: 18px;
      line-height: 20px;
      color: #414141;
      margin-bottom: 10px;
   }
   &__item-text{
      @extend %DMSans-400;
      font-size: 16px;
      line-height: 20px;
      color: #585858;
   }
}

.video{
   padding: 110px 0;
   &__inner{
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
   }
   &__popup{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 500px;
   }
   &__play{
      cursor: pointer;
   }
}

.footer {
   background-color: #fff;
}

.footer-top {
   display: flex;
   justify-content: space-between;
   padding: 65px 0 40px;
   border-bottom: 1px solid rgba(163, 187, 200, 0.4);
   &__logo {
      margin-bottom: 10px;
   }
   &__item {
      @extend %Rubik-400;
      font-size: 14px;
      line-height: 24px;
      color: #7b7b7b;
   }

   &__item--contact {
      max-width: 175px;
   }

   &__address {
      margin-bottom: 10px;
   }

   &__phone {
      margin-bottom: 10px;
   }

   &__item--services {
      margin-top: 25px;
   }

   &__title {
      @extend %DMSans-700;
      font-size: 16px;
      line-height: 21px;
      text-transform: uppercase;
      color: #1f2044;
      padding-bottom: 15px;
   }

   &__link {
      margin-bottom: 10px;
   }

   &__item--nav {
      margin-top: 25px;
   }

   &__item--form {
      margin-top: 25px;
   }

   &__text {
      margin-bottom: 25px;
   }

   &__input {
      background-color: rgba(252, 215, 182, 0.2);
      border: none;
      padding: 5px 60px 5px 10px;
      outline-color: $accent;
      &::placeholder {
         @extend %DMSans-400;
         font-size: 12px;
         line-height: 1.2;
         color: #234969;
      }
   }

   &__btn {
      padding: 6px 13px;
      @extend %DMSans-400;
      font-size: 14px;
      line-height: 21px;
      color: #fff;
      border: none;
      background-color: #a3bbc8;
      cursor: pointer;
   }
}

.footer-bottom {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 30px 0 35px;
   @extend %DMSans-400;
   font-size: 14px;
   line-height: 32px;
   color: #7b7b7b;

   &__nav {
      display: flex;
   }

   &__item {
      margin-left: 25px;
   }

   &__link {
      position: relative;
      &::before {
         content: "|";
         position: absolute;
         top: -2px;
         left: -12px;
      }
   }
}

.top-slider {
   background-color: $accent;
   padding: 150px 0 200px;
   &::before {
      content: "";
      position: absolute;
      background-image: url("../images/ellipse.png");
      background-size: cover;
      background-repeat: no-repeat;
      width: 575px;
      height: 585px;
      top: 180px;
      right: 50px;
   }
   &__item {
      display: flex !important;
      justify-content: space-around;
      padding: 0 70px;
   }
   &__content {
      max-width: 415px;
   }
   &__title {
      @extend %Rubik-500;
      font-size: 72px;
      line-height: 70px;
      color: $default;
      margin-bottom: 35px;
   }
   &__text {
      @extend %Rubik-400;
      font-size: 18px;
      line-height: 30px;
      color: $default;
      margin-bottom: 35px;
   }
   &__link {
      @extend %Rubik-500;
      font-size: 15px;
      line-height: 12px;
      color: #ffffff;
      background-color: #a3bbc8;
      padding: 20px 90px 20px 25px;
      transition: all 0.3s;
      display: inline-block;
      position: relative;
      &::after {
         content: "";
         position: absolute;
         background-image: url("../images/icons/arrow.svg");
         background-size: cover;
         background-repeat: no-repeat;
         width: 22px;
         height: 9px;
         top: 22px;
         right: 10px;
      }
   }
   &__photo {
      align-self: flex-end;
      position: relative;
   }
}
.slick-dots {
   display: flex;
   justify-content: center;
   li {
      padding: 0 5px;
      line-height: 0;
      margin-top: 150px;
      button {
         padding: 0;
         font-size: 0;
         background-color: transparent;
         height: 30px;
         width: 29px;
         border: 1px solid transparent;
         border-radius: 50%;
         position: relative;
         cursor: pointer;
         &::before {
            content: "";
            position: absolute;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: $default;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
         }
      }
      &.slick-active {
         button {
            border-color: $default;
            background-color: #fff;
            opacity: 0.9;
            &::before {
               background-color: $default;
            }
         }
      }
   }
}

@import "media";
